In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
train=pd.read_csv(r"C:\Users\vinod\ML\Redbus Hackathon\train.csv")
df=pd.read_csv(r"C:\Users\vinod\ML\Redbus Hackathon\transactions.csv")
test=pd.read_csv(r"C:\Users\vinod\ML\Redbus Hackathon\test_8gqdJqH.csv")

In [57]:
train.head(),train.shape

(          doj  srcid  destid  final_seatcount
 0  2023-03-01     45      46           2838.0
 1  2023-03-01     46      45           2298.0
 2  2023-03-01     45      47           2720.0
 3  2023-03-01     47      45           2580.0
 4  2023-03-01     46       9           4185.0,
 (67200, 4))

In [58]:
test.head(),test.shape

(          route_key         doj  srcid  destid
 0  2025-02-11_46_45  2025-02-11     46      45
 1  2025-01-20_17_23  2025-01-20     17      23
 2  2025-01-08_02_14  2025-01-08      2      14
 3  2025-01-08_08_47  2025-01-08      8      47
 4  2025-01-08_09_46  2025-01-08      9      46,
 (5900, 4))

In [59]:
df.head(),df.shape

(          doj         doi  srcid  destid    srcid_region   destid_region  \
 0  2023-03-01  2023-01-30     45      46       Karnataka      Tamil Nadu
 1  2023-03-01  2023-01-30     46      45      Tamil Nadu       Karnataka
 2  2023-03-01  2023-01-30     45      47       Karnataka  Andhra Pradesh
 3  2023-03-01  2023-01-30     47      45  Andhra Pradesh       Karnataka
 4  2023-03-01  2023-01-30     46       9      Tamil Nadu      Tamil Nadu

   srcid_tier destid_tier  cumsum_seatcount  cumsum_searchcount  dbd
 0     Tier 1      Tier 1               8.0                76.0   30
 1     Tier 1      Tier 1               8.0                70.0   30
 2     Tier 1      Tier 1               4.0               142.0   30
 3     Tier 1      Tier 1               0.0                68.0   30
 4     Tier 1       Tier2               9.0               162.0   30  ,
 (2266100, 11))

In [60]:
df['route_key'] = df['doj'].astype(str) + '_' + df['srcid'].astype(str) + '_' + df['destid'].astype(str)
train['route_key'] = train['doj'].astype(str) + '_' + train['srcid'].astype(str) + '_' + train['destid'].astype(str)

In [61]:
df=df.drop(['doj','srcid','destid'],axis=1)
train=train.drop(['doj','srcid','destid'],axis=1)

In [62]:
df['route_key'].unique().shape,train['route_key'].unique().shape

((73100,), (67200,))

In [63]:
train_merged = pd.merge(train,df, on='route_key')
train_merged.shape

(2083200, 10)

In [64]:
train_merged.sample()

,final_seatcount,route_key,doi,srcid_region,destid_region,srcid_tier,destid_tier,cumsum_seatcount,cumsum_searchcount,dbd
1692599,1575.0,2024-08-27_19_30,2024-08-27,Madhya Pradesh,Maharashtra and Goa,Tier 1,Tier 1,1575.0,24040.0,0

In [65]:
# from ydata_profiling import ProfileReport
# prof=ProfileReport(df,explorative=True)
# prof.to_file(output_file="EDA_Redbus1.html")

In [66]:
df.sample(5)

,doi,srcid_region,destid_region,srcid_tier,destid_tier,cumsum_seatcount,cumsum_searchcount,dbd,route_key
1369661,2024-05-10,Andhra Pradesh,Andhra Pradesh,Tier 3,Tier 1,125.0,5545.0,5,2024-05-15_28_47
2083013,2024-12-30,Tamil Nadu,Tamil Nadu,Tier 1,Tier2,1032.0,33276.0,1,2024-12-31_46_35
1504194,2024-06-04,East 1,East 1,Tier 4,Tier2,5.0,80.0,24,2024-06-28_4_29
2061211,2024-12-22,Andhra Pradesh,Andhra Pradesh,Tier2,Tier 1,330.0,16440.0,2,2024-12-24_5_47
89850,2023-03-29,East 1,East 1,Tier2,Tier 1,1140.0,7128.0,0,2023-03-29_25_23

In [67]:
df=train_merged
df.shape,df['route_key'].unique().shape

((2083200, 10), (67200,))

In [68]:
df.sample(5)

,final_seatcount,route_key,doi,srcid_region,destid_region,srcid_tier,destid_tier,cumsum_seatcount,cumsum_searchcount,dbd
412415,2632.0,2023-07-12_47_45,2023-07-04,Andhra Pradesh,Karnataka,Tier 1,Tier 1,74.0,1838.0,8
913400,117.0,2023-12-20_36_37,2023-12-06,Delhi,Rest of North,Tier2,Tier 1,0.0,87.0,14
1330342,3552.0,2024-05-03_45_28,2024-04-11,Karnataka,Andhra Pradesh,Tier 1,Tier 3,0.0,2052.0,22
453192,1232.0,2023-07-25_19_32,2023-06-28,Madhya Pradesh,Madhya Pradesh,Tier 1,Tier 1,0.0,52.0,27
640819,880.0,2023-09-23_27_36,2023-09-11,Rest of North,Delhi,Tier2,Tier2,0.0,775.0,12

In [69]:
df.isnull().sum()

final_seatcount       0
route_key             0
doi                   0
srcid_region          0
destid_region         0
srcid_tier            0
destid_tier           0
cumsum_seatcount      0
cumsum_searchcount    0
dbd                   0
dtype: int64

In [70]:
df.duplicated().sum()

0

In [71]:
df['srcid_tier'].value_counts()

srcid_tier
Tier 1    1229088
Tier2      645792
Tier 3     124992
Tier 4      83328
Name: count, dtype: int64

In [72]:
for i in range(1,5):
  if(i==2):
    df['srcid_tier']=df['srcid_tier'].replace(f"Tier{i}",i)
    df['destid_tier']=df['destid_tier'].replace(f"Tier{i}",i)
  else:
    df['srcid_tier']=df['srcid_tier'].replace(f"Tier {i}",i)
  df['destid_tier']=df['destid_tier'].replace(f"Tier {i}",i)

In [73]:
# # Converting Regions into Numerical Values
src_regions = df['srcid_region'].unique()
dest_regions = df['destid_region'].unique()

# Create mappings
src_region_map = {region: i for i, region in enumerate(src_regions)}
dest_region_map = {region: i for i, region in enumerate(dest_regions)}

# Apply mappings
df['srcid_region_encoded'] = df['srcid_region'].map(src_region_map)
df['destid_region_encoded'] = df['destid_region'].map(dest_region_map)

# Display the first few rows to check the result
print(df[['srcid_region', 'srcid_region_encoded', 'destid_region', 'destid_region_encoded']].head())

  srcid_region  srcid_region_encoded destid_region  destid_region_encoded
0    Karnataka                     0    Tamil Nadu                      0
1    Karnataka                     0    Tamil Nadu                      0
2    Karnataka                     0    Tamil Nadu                      0
3    Karnataka                     0    Tamil Nadu                      0
4    Karnataka                     0    Tamil Nadu                      0

In [74]:
df = df.drop(['srcid_region', 'destid_region'], axis=1)

In [76]:
df.sample(5)

,final_seatcount,route_key,doi,srcid_tier,destid_tier,cumsum_seatcount,cumsum_searchcount,dbd,srcid_region_encoded,destid_region_encoded
1903534,3858.0,2024-11-04_46_9,2024-10-15,1,2,57.0,2667.0,20,1,0
140327,1544.0,2023-04-15_12_36,2023-04-06,1,2,4.0,476.0,9,7,4
1956636,2000.0,2024-11-21_2_40,2024-10-31,1,1,12.0,2420.0,21,3,3
1192784,1185.0,2024-03-19_2_21,2024-03-17,1,2,90.0,2090.0,2,3,3
1850666,820.0,2024-10-17_38_36,2024-10-15,1,2,70.0,3055.0,2,4,4